.dashboard-container {
    margin: 20px;
}

.dashboard-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #ddd;
}

.dashboard-table th,
.dashboard-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.dashboard-table th {
    background-color: #4CAF50;
    color: white;
}

.dashboard-buttons button {
    margin-right: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.dashboard-buttons button.approve {
    background-color: #4CAF50;
    color: white;
}

.dashboard-buttons button.disapprove {
    background-color: #f44336;
    color: white;
}