h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    background-color: #3498db;
    /* Blue color */
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
    /* Darker blue on hover */
}

.show-otp-input {
    display: block;
}

.hide-otp-input {
    display: none;
}


/* ... (add more styles as needed) */