/* Welcome.css */


/* Import common styles */

@import url('../commom.css');

/* Add specific styles for Welcome component here */

.container {
    display: flex;
    justify-content: left;
    align-items: left;
    height: 50vh;
}

.welcome-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.welcome-container h2 {
    color: #333;
}

.welcome-container label {
    display: block;
    margin-top: 5px;
}

.welcome-container input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.welcome-container button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.welcome-container button:hover {
    background-color: #45a049;
}